/* Override here any style definide by web-app-theme */
.center{text-align:center;}
.go_red{color:red}
.go_green{color:green}

.twitter_box{
	width:600px;
	background-color:#ECECEC;
	margin-left:50px;
	padding:10px;
}

.tweet{
	width:800px;
	background-color:#ECECEC;
	margin:5px;
	padding:5px;
	font-size:14px;
	
}

#submitbutton{
	float:left;
	padding:3px;
	font-size:14px;
	color:#666;
	border:1px solid #ECECEC;
	background:#fff;
	margin:1px 0px 0px 10px;
}
#twitter{
	margin:5px 0px 0px 10px;
	padding:5px;
	width:534px;
	border:1px solid #ECECEC;
}